<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         bootstrap="src/vendor/autoload.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="true">
    <testsuites>
        <testsuite name="Uber Data Test Suite">
            <directory>src/Tests/</directory>
        </testsuite>
    </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src/Libs</directory>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-html" target="build/logs/coverage" charset="UTF-8"
         yui="true" highlight="false"
         lowUpperBound="10" highLowerBound="20"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
  </logging>
</phpunit>